*
!.gitignore
!compose.yaml
!compose.yml
!README.md
!LICENSE

!.zshrc

!caddy/
!caddy/**/*
!caddy/*

!postgresql
!postgresql/*.conf

!minecraft
!minecraft/*
!minecraft/**/*

!.config/
.config/*
!.config/fastfetch/
!.config/fastfetch/**
!words_of_affirmation.txt
